a {
  text-decoration: none;
}
body {
  background-color: #f9f9f9;
  margin: 0;
}
.wrap {
  width: 90%;
  margin: 0 auto;
}
/*Câu 2: Trần Văn Thường -29082006*/
/*begin header*/
.rightheader {
  float: right;
  width: 20%;
  font-family: "Open Sans", sans-serif;
  padding-right: 30px;
}
.rightheader input {
  border: none;
  outline: none;
  background: white;
}
.rightheader input::placeholder {
  font-size: 17px;
}
/*end header*/
/*begin left grid items*/
.leftgrid {
  width: 80%;
  float: left;
}
.leftgrid ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.leftgrid li {
  width: 24%;
  float: left;
  background-color: white;
  box-sizing: border-box;
  margin: 0.5%;
  text-align: center;
}
.leftgrid img {
  size: 100%;
}
/*end left grid items*/
/*begin right side bar*/
.rightsider {
  float: right;
  width: 20%;
  font-family: "Open Sans", sans-serif;
}
/*end right side bar*/
/*begin footer*/
.footer {
  clear: both;
  overflow: auto;
  line-height: 50px;
  color: #a6a6a6;
  padding-left: 10px;
}
.footer a {
  color: #575757;
  text-decoration: none;
}
.footer a:hover {
  color: #94cb32;
}
/*end footer*/
/*begin comment form*/
#email {
  width: 100%;
  box-sizing: border-box;
  background-color: #e9e9e9;
  border-style: ridge;
}
#submit {
  width: 100px;
  color: #000;
  padding: 5px 9px 5px 10px;
  border: 1px solid #e5e5e5;
  margin: 10px 0;
  border-left: none;
  cursor: pointer;
  background: #94cb32;
  font-weight: bold;
}
/*end conment form*/
