* {
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(#e9e9e9, white);
}
.boundary {
  width: 1000px;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
}

/*begin main*/
#main {
  background-color: white;
  overflow: auto;
  clear: both;
}
#left {
  width: 25%;
  float: left;
  padding: 10px 5px 10px 0px;
  box-sizing: border-box;
}

#right {
  width: 75%;
  float: right;
  padding: 10px 0px 10px 5px;
  box-sizing: border-box;
}
/*end main*/
/*begin footer*/
#footer {
  clear: both;
  background-color: #e9e9e9;
  overflow: auto;
  margin: 0;
  line-height: 50px;
  color: #a6a6a6;
  padding-left: 10px;
}
#footer a {
  color: #a6a6a6;
  text-decoration: none;
}
#footer a:hover {
  color: #a01616;
}
/*end footer*/
.slider img {
  width: 100%;
}
.search {
  min-height: 260px;
  border: 1px solid #a6a6a6;
}
.title {
  background-color: #a6a6a6;
  font-size: 18px;
  line-height: 22px;
  color: white;
  padding: 6px;
}
.content {
  padding: 6px;
  line-height: 24px;
}
.content #key {
  width: 100%;
  box-sizing: border-box;
  background-color: #e9e9e9;
  border-style: ridge;
}
.content input {
  line-height: 18px;
}
.content #cat {
  width: 100%;
  background-color: #e9e9e9;
  font-size: 16px;
}

.content #submit {
  font-size: 16px;
  width: 100px;
  line-height: 30px;
  background-color: #a01616;
  color: white;
  margin-top: 5px;
}
.content div a {
  color: #a01616;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}
.content div a:visited {
  color: #a01616;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}
.content div a:hover {
  color: #a6a6a6;
  font-weight: bold;
}

/*begin product*/
.product ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.product li {
  height: 383px;
  flex: 1 1 30%;
  box-sizing: border-box;
}
/*end product*/

/*begin label*/
.label {
  text-align: left;
  float: left;
  transform: translateY(-110%);
}

.label .heading {
  background-color: #a01616;
  color: white;
  font-size: 20px;
  padding: 7px;
  text-transform: uppercase;
}

.label .detail {
  background-color: #ffffff8e;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.label .detail .des {
  text-transform: uppercase;
}

.label .price {
  color: #a01616;
  font-size: larger;
  font-weight: bold;
}
/*end label*/
